services:
  activemq:
    image: apache/activemq-classic:5.18.7
    ports:
      - "61616:61616"
      - "8161:8161"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -o /dev/null -w \"%{http_code}\" http://localhost:8161/admin | grep -Eq \"^(200|401)$\""
        ]
      interval: 5s
      timeout: 3s
      retries: 5

  central-service:
    build:
      context: .
      dockerfile: central-service/Dockerfile
    environment:
      - BROKER_URL=tcp://activemq:61616
      - DESTINATION_NAME=measurements.queue
    depends_on:
      activemq:
        condition: service_healthy

  warehouse-service:
    build:
      context: .
      dockerfile: warehouse-service/Dockerfile
    environment:
      - BROKER_URL=tcp://activemq:61616
      - DESTINATION_NAME=measurements.queue
      - WAREHOUSE_ID=WH-1
      - UDP_TEMPERATURE_PORT=3344
      - UDP_HUMIDITY_PORT=3355
    ports:
      - "3344:3344/udp"
      - "3355:3355/udp"
    depends_on:
      activemq:
        condition: service_healthy